<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897530755430-22ld6td0h4jl3893di6p8ofpiua1f4c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897530755430-22ld6td0h4jl3893di6p8ofpiua1f4c2</string>
	<key>API_KEY</key>
	<string>AIzaSyALx4TIvmfMOn8c6bK9uuGNPQNn7pFWPIo</string>
	<key>GCM_SENDER_ID</key>
	<string>897530755430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umutcanszoglu.cosmic</string>
	<key>PROJECT_ID</key>
	<string>cosmic-clicker</string>
	<key>STORAGE_BUCKET</key>
	<string>cosmic-clicker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897530755430:ios:debbfc9e14715c6789b0a7</string>
</dict>
</plist>