<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718562726395-o072ei722eev1i08bn4t115sds7faqg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718562726395-o072ei722eev1i08bn4t115sds7faqg8</string>
	<key>API_KEY</key>
	<string>AIzaSyBExpPWOTjwjjb5qo0Qoq-yIbZK08pDOlc</string>
	<key>GCM_SENDER_ID</key>
	<string>718562726395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umutcanszoglu.space_game</string>
	<key>PROJECT_ID</key>
	<string>spacegame-91d18</string>
	<key>STORAGE_BUCKET</key>
	<string>spacegame-91d18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718562726395:ios:fca0df63c3eec86252fb5e</string>
</dict>
</plist>